<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {{ get_flashed_messages(editMenuItem) }}
    <form action="{{ url_for("editMenuItem", restaurant_id = restaurant_id, menu_id = item.id)}}" method="post">
      <p>Name:
      <input type="text" size="30" name="name" placeholder={{ item.name }}></input>
      </p>
      <p>Description:
      <input type="text" size="30" name="description" placeholder={{ item.description }}></input>
      </p>
      <p>Price:
      <input type="text" size="6" name="price" placeholder={{ item.price }}></input>
      </p>
      </br>
      <input type="radio" name="course" value="appetizer" checked>appetizer</input>
      <input type="radio" name="course" value="maincourse">main course</input>
      <input type="radio" name="course" value="dessert">dessert</input>
      </br>
      </br>
      <input type="submit" value="Edit">
    </form>
    <a href= '{{url_for('restaurantMenu', restaurant_id=item.restaurant_id)}}'>Cancel</a>
    <!-- <form action= "{{url_for('editMenuItem', restaurant_id = restaurant_id, menu_id=item.id)}}" method = 'POST'>

    <p>Name:</p>
    <input type = 'text' size='30' name = 'name' placeholder = '{{item.name}}'>

    <input type='submit' value='Edit'>
    </form>
    <a href= '{{url_for('restaurantMenu', restaurant_id= item.restaurant_id)}}'>Cancel</a> -->

  </body>
</html>
