<!DOCTYPE html>
<html>
<head>
  <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
   <script src="https://apis.google.com/js/platform.js" async defer></script>

<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
</head>
<body>
<!-- GOOGLE PLUS SIGN IN-->

  <div id="signinButton">
    <span class="g-signin"
      data-scope = "openid email"
      data-clientid = "259807618908-k4c9podjomd53e6kti77339m5h4am1lq.apps.googleusercontent.com"
      data-redirecturi = "postmessage"
      data-accesstype = "offline"
      data-cookiepolicy = "single_host_origin"
      data-callback = "signInCallback"
      data-approvalprompt = "force">
    </span>
  </div>
<div id="result"></div>

</body>
</html>
